/*Nombres de colores*/
:root {
  --soft-blush: hsla(14, 74%, 91%, 1);
  --soft-blush-tr: hsla(13, 73%, 91%, 0.5);

  --blaze-orange: hsla(19, 100%, 52%, 1);
  --blaze-orange-tr: hsla(19, 100%, 52%, 0.5);

  --smoky-rose: hsla(347, 13%, 44%, 1);
  --smoky-rose-tr: hsla(347, 13%, 44%, 0.5);
  --smoky-rose-tr8: hsla(347, 13%, 44%, 0.8);

  --mauve-shadow: hsla(341, 19%, 38%, 1);
  --mauve-shadow-tr: hsla(341, 19%, 38%, 0.5);

  --mauve-shadow-2: hsla(327, 12%, 33%, 1);
  --mauve-shadow-2-tr: hsla(327, 12%, 33%, 0.5);

  --lin-gradient-orange: linear-gradient(144deg, #ffc340, #f78122 50%, #eb5600);
}

/*Estilos base*/
#root {
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--smoky-rose);
  height: 100%;
}

html,
body,
#root {
  height: fit-content;
  margin: 0;
}

/*Estilos de los títulos*/
h1 {
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: all 0.3s ease;
  padding: 30px;
  font-size: clamp(2rem, 5vw, 4rem);
  user-select: none;
  background-color: var(--mauve-shadow-2);
  position: relative;
  font-weight: bold;
  letter-spacing: 2px;
}
a:hover {
  color: var(--mauve-shadow);
}
h2 {
  padding: 30px;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  user-select: none;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
h3,
h4,
h5,
h6,
p {
  user-select: none;
  color: var(--mauve-shadow-2);
}

.spanFull {
  grid-column: 1 / -1;
}

.mauve-shadow-background {
  background-color: var(--mauve-shadow);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--blaze-orange-tr));
  transition: all 0.3s ease;
}

.blaze-orange-background {
  background-color: var(--blaze-orange-tr);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: all 0.3s ease;
}

.soft-blush-background {
  background-color: var(--soft-blush);
  color: var(--mauve-shadow-2);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: all 0.3s ease;
}

.smokey-rose-background {
  background-color: var(--smoky-rose);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: all 0.3s ease;
}

.title {
  text-align: center;
  width: 100%;
  align-self: center;
}

.title-left {
  text-align: left;
  justify-self: start;
}

.title-right {
  text-align: right;
  justify-self: end;
}

.title-center {
  text-align: center;
  justify-self: center;
}

.title-center-full {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  justify-self: center;
}

/*Estilos del contenedor principal*/
.main-content {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}

/*Estilos de la sección de inicio*/
#home-section {
  height: fit-content;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  gap: 20px;
}

#home-section h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  align-self: center;
}

.img-logo-container {
  width: 100%;
  margin-bottom: 10vh;
  user-select: none;
}

.inicio-background-img {
  width: 100%;
  height: 93.6vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  display: block;
}

.img-logo {
  user-select: none;
  width: 70%;
  height: auto;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  background-color: var(--soft-blush-tr);
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.icon-sz-1 {
  width: 30px;
  height: 30px;
}

.icon-sz-2 {
  width: 35px;
  height: 35px;
}

.icon-sz-3 {
  width: 40px;
  height: 40px;
}

.icon-sz-4 {
  width: 45px;
  height: 45px;
}

.icon-sz-5 {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 470px) {
  .inicio-background-img {
    height: 35vh;
  }
}

@media screen and (470px <= width <= 768px) {
  .img-logo {
    width: 50%;
  }

  .inicio-background-img {
    height: 80vh;
  }
}

@media screen and (min-width: 799px) {
  .img-logo {
    width: 40%;
  }

  .title-left,
  .title-right {
    width: 70%;
  }
}
