/*Nombres de colores*/
:root {
  --soft-blush: hsla(14, 74%, 91%, 1);
  --soft-blush-tr: hsla(13, 73%, 91%, 0.5);

  --blaze-orange: hsla(19, 100%, 52%, 1);
  --blaze-orange-tr: hsla(19, 100%, 52%, 0.5);

  --smoky-rose: hsla(348, 13%, 44%, 1);
  --smoky-rose-tr: hsla(347, 13%, 44%, 0.5);
  --smoky-rose-tr8: hsla(347, 13%, 44%, 0.8);

  --mauve-shadow: hsla(341, 19%, 38%, 1);
  --mauve-shadow-tr: hsla(341, 19%, 38%, 0.5);

  --mauve-shadow-2: hsl(327, 12%, 33%);
  --mauve-shadow-2-tr: hsla(327, 12%, 33%, 0.5);

  --lin-gradient-orange: linear-gradient(144deg, #ffc340, #f78122 50%, #eb5600);
}

/*Estilos base*/
#root {
  text-align: center;
  font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: var(--smoky-rose);
  min-height: 100vh;
}

html,
body,
#root {
  height: fit-content;
  margin: 0;
  scroll-behavior: smooth;
}

/*Estilos de los títulos*/
h1 {
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: all 0.3s ease;
  padding: 30px;
  font-size: clamp(2rem, 5vw, 4rem);
  user-select: none;
  background-color: var(--mauve-shadow-2);
  position: relative;
  font-weight: bold;
  letter-spacing: 2px;
}
a:hover {
  color: var(--mauve-shadow);
}
h2 {
  padding: 30px;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
h3,
h4,
h5,
h6,
p {
  color: var(--mauve-shadow-2);
}

.spanFull {
  grid-column: 1 / -1;
}

.mauve-shadow-background {
  background-color: var(--mauve-shadow);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--blaze-orange-tr));
  transition: background-color color filter 0.3s ease;
}

.blaze-orange-background {
  background-color: var(--blaze-orange-tr);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: background-color color filter 0.3s ease;
}

.soft-blush-background {
  background-color: var(--soft-blush);
  color: var(--mauve-shadow-2);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: background-color color filter 0.3s ease;
}

.smokey-rose-background {
  background-color: var(--smoky-rose);
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-2));
  transition: background-color color filter 0.3s ease;
}

.title {
  text-align: center;
  width: 100%;
  align-self: center;
}

.title-left {
  text-align: left;
  justify-self: start;
  opacity: 0;
  transform: translateX(-100%);
  will-change: transform, opacity;
}

.title-right {
  text-align: right;
  justify-self: end;
}

.title-center {
  text-align: center;
  justify-self: center;
}

.title-center-full {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  justify-self: center;
}

.button-main-style {
  align-items: center;
  background-image: var(--lin-gradient-orange);
  border: 0;
  border-radius: 8px;
  box-shadow: var(--mauve-shadow) 0 15px 30px -5px;
  box-sizing: border-box;
  color: var(--soft-blush);
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: 300ms;

  grid-column: 2;
  grid-row: 1/-1;
}

.button-main-style:active,
.button-main-style:hover {
  outline: 0;
  color: var(--soft-blush);
}

.button-main-style.active:hover {
  background-image: linear-gradient(144deg, #7a7260, #614f40 50%, #4e372a);
}

.button-main-style span {
  background-color: var(--mauve-shadow-2);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-main-style:hover span {
  background: none;
}

/*Estilos del contenedor principal*/
.main-content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
}

/*Estilos de la sección de inicio*/
#inicio {
  height: fit-content;
  display: grid;
  grid-auto-rows: 1fr 1fr;
  gap: 20px;
}

#inicio h1 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  align-self: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  will-change: transform, opacity;
}

.img-logo-container {
  width: 100%;
  margin-bottom: 10vh;
  user-select: none;
}

.inicio-background-img {
  width: 100%;
  height: 93.6vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
  display: block;
  aspect-ratio: 4 / 3;
  opacity: 0;
  will-change: opacity;
}

.img-logo {
  user-select: none;
  width: 70%;
  height: auto;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  background-color: var(--soft-blush-tr);
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  aspect-ratio: 640 / 325;
  opacity: 0;
  will-change: transform, opacity;
  transform: translateY(-100px);
}

.icon-sz-1 {
  width: 30px;
  height: 30px;
}

.icon-sz-2 {
  width: 35px;
  height: 35px;
}

.icon-sz-3 {
  width: 40px;
  height: 40px;
}

.icon-sz-4 {
  width: 45px;
  height: 45px;
}

.icon-sz-5 {
  width: 50px;
  height: 50px;
}

.icon-sz-cover-100 {
  width: 100%;
  height: 100%;
}

.icon-sz-cover-50 {
  width: 50%;
}

@media screen and (max-width: 470px) {
  .inicio-background-img {
    height: 35vh;
  }
}

@media screen and (min-width: 470px) and (max-width: 768px) {
  .img-logo {
    width: 50%;
  }

  .inicio-background-img {
    height: 45vh;
  }
}

@media screen and (min-width: 799px) {
  .img-logo {
    width: 40%;
  }

  .title-left,
  .title-right {
    width: 70%;
  }
}
