#contact-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}

.contact-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  background-image: var(--lin-gradient-orange);
  border-radius: 10px;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  padding: 20px;
  position: relative;
  z-index: 1;
}

.contact-section-content::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 90%;
  background-color: var(--mauve-shadow);
  border-radius: 10px;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  z-index: -1;
}

.contact-section-content p {
  color: var(--soft-blush);
}

.whatsapp-num-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: color 0.3s;
  grid-column: 1;
}

.numberText {
  color: var(--soft-blush);
}
