.footer-container {
  background-color: var(--mauve-shadow);
  color: white;
  padding: 20px 10px 10px 10px;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  color: var(--soft-blush);
  padding-left: 60px;
}

.footer-brand {
  min-width: 250px;
  color: var(--soft-blush);
  grid-row: span 2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-brand .img-logo {
  object-fit: contain;
  height: 80%;
  width: 80%;
  border-radius: 20px;
}

.language-selector-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
  background-color: var(--smoky-rose);
  padding: 20px;
  border-radius: 10px;
}
.language-selector-footer-language-switch-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-logo {
  color: var(--blaze-orange-tr); /* Tu color naranja */
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--soft-blush);
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: var(--soft-blush);
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  color: var(--soft-blush);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-contact li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: var(--soft-blush);
}

.whatsapp-link {
  color: #25d366; /* Verde oficial de WhatsApp */
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s;
}

.whatsapp-link:hover {
  opacity: 0.8;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.7;
  color: var(--soft-blush);
  padding-left: 60px;
}

.footer-bottom p {
  margin-bottom: 10px;
  color: var(--soft-blush);
}

.footer-bottom hr {
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--soft-blush);
}

@media screen and (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
