#gallery-section {
  width: 100%;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  gap: 15px;
  user-select: none;
}

#apartment-section {
  width: 100%;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
  user-select: none;
}

#apartment-gallery-title {
  grid-column: 1 / -1;
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  margin: 0 20px 10px 20px;
  display: block;
  width: 100%;
  user-select: none;
}

#apartment-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  margin: 0 20px 20px 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  user-select: none;
}

#gallery-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  margin: 0 20px 20px 20px;
  display: block;
  width: 100%;
  user-select: none;
}

#condo-carousel {
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  border-radius: 10px;
  border: 3px double var(--blaze-orange);
  filter: drop-shadow(0 0px 20px var(--blaze-orange));
  overflow: hidden;
  user-select: none;
}

#apartment-carousel {
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  border-radius: 10px;
  border: 3px double var(--mauve-shadow-2);
  filter: drop-shadow(0 0px 20px var(--mauve-shadow-2));
  overflow: hidden;
  user-select: none;
}

.carousel-item {
  width: 100%;
  max-height: 400px;
  background: linear-gradient(to right, var(--mauve-shadow), var(--smoky-rose));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  user-select: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

#condo-carousel .carousel-control-custom,
#apartment-carousel .carousel-control-custom {
  filter: drop-shadow(0 2px 2px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  background-color: var(--mauve-shadow-tr);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  user-select: none;
  margin: auto 5px auto 5px;
  border: 3px double var(--soft-blush);
  transition: all 0.3s ease;
  cursor: pointer;
}
.carousel-control-custom:hover {
  background-color: var(--mauve-shadow-tr);
  border: 3px double var(--soft-blush);
  transition: all 0.3s ease;
}

.carousel-caption {
  background-color: var(--soft-blush-tr);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--soft-blush);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
}

@media screen and (600px > width <= 768px) {
  #gallery-section {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
  }

  #apartment-carousel {
    width: 90%;
    height: 40vh;
  }

  #condo-carousel {
    width: 90%;
    height: 40vh;
  }

  .carousel-item {
    height: 40vh;
  }
}

@media screen and (width <= 600px) {
  #gallery-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  #apartment-section{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  #apartment-carousel {
    width: 95%;
    height: 40vh;
  }

  #condo-carousel {
    width: 95%;
    height: 30vh;
    margin: 0 10px;
  }

  .carousel-item {
    height: 40vh;
  }
}
