#gallery-section {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  gap: 15px;
  user-select: none;
  padding: 10px;
}

#apartment-section {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 2.5fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
  user-select: none;
}

#apartment-gallery-title {
  grid-column: 1 / -1;
  font-size: clamp(2rem, 5vw, 3rem);
  text-align: center;
  margin: 0 20px 10px 20px;
  display: block;
  width: 100%;
  user-select: none;
}

#apartment-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  margin: 0 20px 20px 20px;
  padding-right: 20px;
  display: block;
  width: 100%;
  user-select: none;
}

#gallery-section p {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: center;
  margin: 0 20px 20px 20px;
  display: block;
  width: 100%;
  user-select: none;
}
.gallery-carousel-container {
  background-image: var(--lin-gradient-orange);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 90%;
  user-select: none;
  margin: 0 10px;
  z-index: 1;
}

.gallery-carousel-container.apartment-carousel {
  grid-column: 1;
  grid-row: 2;
}

#condo-carousel {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0 0px 20px var(--blaze-orange));
  overflow: hidden;
  user-select: none;
}

#apartment-carousel {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  filter: drop-shadow(0 0px 20px var(--mauve-shadow-2));
  overflow: hidden;
  user-select: none;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--mauve-shadow-2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
  user-select: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

#condo-carousel .carousel-control-custom,
#apartment-carousel .carousel-control-custom {
  filter: drop-shadow(0 2px 2px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  background-color: var(--mauve-shadow-tr);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  user-select: none;
  margin: auto 5px auto 5px;
  border: 3px double var(--soft-blush);
  transition: all 0.3s ease;
  cursor: pointer;
}
.carousel-control-custom:hover {
  background-color: var(--mauve-shadow-tr);
  border: 3px double var(--soft-blush);
  transition: all 0.3s ease;
}

.carousel-caption {
  background-color: var(--soft-blush-tr);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--soft-blush);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  user-select: none;
  color: var(--soft-blush);
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
}

@media screen and (min-width: 1000px) {
  #gallery-section,
  #apartment-section {
    grid-template-rows: 1fr 6fr;
  }
  #apartment-carousel,
  #condo-carousel {
    height: 60vh;
  }

  .gallery-carousel-container {
    width: 100%;
  }
}

@media screen and (800px <= width <= 999px) {
  #gallery-section {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
  }

  .carousel-item {
    height: 100%;
  }
}

@media screen and (max-width: 799px) {
  #gallery-section {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr min-content;
  }

  #apartment-section {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr min-content;
  }

  #apartment-carousel {
    height: 50vh;
    grid-row: 3;
  }

  #condo-carousel {
    height: 50vh;
  }

  .carousel-item {
    height: 100%;
  }
}
