#location-section {
  display: grid;
  grid-template-columns: 1f;
  grid-template-rows: auto 2fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  width: 100%;
}

.maps-iframe-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-image: linear-gradient(144deg, #92b9e6, #4a93d8 50%, #137bcf);
  border-radius: 10px;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  padding: 10px;
  gap: 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.maps-iframe {
  width: 100%;
  height: 50vh;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  flex-grow: 2;
}

.maps-iframe-container h3,
.maps-iframe-container p {
  text-align: center;
  display: block;
  width: 100%;
  user-select: none;
  color: var(--soft-blush);
}

@media screen and (max-width: 768px) {
  #location-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr;
  }

  .maps-iframe-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
  }

  .maps-iframe {
    height: 100%;
  }
}
