#location-section {
  display: grid;
  grid-template-columns: 1f;
  grid-template-rows: 1fr auto 2fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.maps-iframe-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: var(--soft-blush-tr);
  padding: 10px;
  gap: 10px;
  height: 100%;
}
.maps-iframe {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 5px 5px var(--mauve-shadow-tr));
  transition: all 0.3s ease;
  flex-grow: 2;
}

@media screen and (max-width: 768px) {
  #location-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 2fr;
  }

  .maps-iframe-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  }
}
