.main-navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: var(--smoky-rose-tr8);
  color: var(--smoky-rose);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);

  width: fit-content;
  height: 100vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: background-color 0.3s ease, width 0.6s ease;
}

.main-navbar-header.collapsed {
  width: 50px;
  background-color: var(--smoky-rose-tr);
  transition: background-color 0.3s ease, width 0.3s ease;
}

.collapse-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--soft-blush-tr);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.language-selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--smoky-rose);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--mauve-shadow) 0 15px 30px -5px;
  margin-top: 40px;
  transition: 300ms;
}

.language-selector label {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.lang-name-text {
  color: var(--soft-blush);
}

.language-selector.collapsed {
  gap: 10px;
  margin-top: 40px;
  width: 72px;
  transform: translate(-20px);
  transition: 300ms;
}

.language-selector.collapsed:hover {
  width: fit-content;
  position: relative;
  left: 0;
  right: 0;
  transition: 300ms;
}

.language-selector.collapsed:hover .lang-name-text {
  font-size: 20px;
  margin-left: 10px;
  transition: 300ms;
}

.language-switch-container.collapsed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 300ms;
}

.language-selector.collapsed label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 300ms;
}

.language-selector.collapsed label .lang-name-text {
  font-size: 0;
  transition: 300ms;
}

.fi.custom-flag-size {
  width: 30px;
  height: 30px;
  transition: 300ms;
}

.main-navbar {
  margin-top: 10px;
  height: 100%;
  width: 100%;
}

.main-navbar-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-navbar-item.button-main-style.active:hover {
  background-image: var(--lin-gradient-orange);
}

.button-main-style.active span {
  background: none;
}


.main-navbar-header.collapsed .main-navbar-item {
  font-size: 0;
  gap: 0;
  background-color: var(--smoky-rose-tr);
  transition: 300ms;
  width: 72px;
}

.main-navbar-header.collapsed .main-navbar-item:hover {
  background-color: var(--mauve-shadow-tr);
  color: var(--soft-blush);
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 24px;
  width: fit-content;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  transition: 300ms;
}
.main-navbar-header.collapsed .main-navbar-item.active {
  background-color: var(--mauve-shadow-2);
  color: var(--soft-blush);
  border-radius: 5px;
  border: 1px solid var(--soft-blush);
}

.main-navbar-header.collapsed .main-navbar-icon {
  margin: 0 auto;
}
