#services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 20px;
}

.services-section-card-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 3fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.services-section-card-container.left-aligned {
  grid-template-columns: minmax(200px, 3fr) minmax(100px, 1fr);
}

.services-card {
  background-image: var(--lin-gradient-orange);
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 600px;
  height: fit-content;
  justify-self: right;
  padding: 10px;
  grid-column-end: -1;
  grid-row: 1;
}

.services-card.left-aligned {
  grid-column: 1;
  grid-row: 1;
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
  justify-self: left;
}

.services-card-title {
  color: var(--soft-blush);
  font-size: clamp(1.5rem, 3.5vw, 5rem);
  background-color: var(--smoky-rose);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 15px;
}

.services-card-icon {
  justify-self: center;
  align-self: center;
  grid-column: 1/-1;
  width: 50%;
}

.services-card-img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 80%;
  grid-column: 1/-1;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .services-section-card-container {
    grid-template-columns: minmax(100px, 2fr) minmax(200px, 3fr);
  }

  .services-section-card-container.left-aligned {
    grid-template-columns: minmax(200px, 3fr) minmax(100px, 2fr);
  }

  .services-card {
    max-width: 500px;
    justify-self: center;
    border-radius: 10px;
  }

  .services-card.left-aligned {
    grid-column: 1;
    border-radius: 10px;
    justify-self: center;
  }

  .services-card-icon{
    width: 50%;
    grid-column: span 1;
  }

  .services-card-img {
    width: 100%;
    grid-column: span 1;
  }
}
